*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}