<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos del circulo infernal</title>
</head>
<body>
    <main class="container">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del curso</th>
                    <th>Descripción</th>
                    <th>Docente</th>
                </tr>
            </thead>
            <%
                if(Array.isArray(cursos) && cursos.length > 0) {
            %>
            <tbody>
                <tr>
                    <% cursos.forEach(function(curso) => { %>
                        <td><%= curso.id || ''%></td>
                        <td><%= curso.nombre || ''%></td>
                        <td><%= curso.descripcion || ''%></td>
                        <td><%= curso.docente || ''%></td>
                </tr>
                <%});%>
        </table>
        <% } else {%>
            <div>No hay cursos disponibles  en este momento, existe error al cargarlos</div>
            <p><a class="btn" href="/views/bienvenida.html">Volver a la Bienvenida</a></p>
    </main>
</body>
</html>